/* Typography styles to replace gatsby-plugin-typography */
body {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 18px;
  line-height: 1.75;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 2.75rem;
  margin-bottom: 1.375rem;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.31951rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.87055rem;
}

h6 {
  font-size: 0.81225rem;
}

p {
  margin-bottom: 1.375rem;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

blockquote {
  margin-left: 0;
  margin-right: 1.375rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 1.375rem;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.375rem;
  font-size: 1.20112rem;
  line-height: 1.75rem;
  color: inherit;
  font-style: italic;
  border-left: 0.32813rem solid rgba(0, 0, 0, 0.9);
}

ul, ol {
  margin-left: 1.375rem;
  margin-bottom: 1.375rem;
  list-style-position: outside;
  list-style-image: none;
}

li {
  margin-bottom: calc(1.375rem / 2);
}

code {
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.85rem;
  line-height: 1.375rem;
}

pre {
  margin-bottom: 1.375rem;
  font-size: 0.85rem;
  line-height: 1.375rem;
  overflow: auto;
}

table {
  margin-bottom: 1.375rem;
  font-size: 1rem;
  line-height: 1.375rem;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0.6875rem;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
